*{
  width: 100%;
  text-align: -webkit-center;
}

mat-card-content, form{
  padding:5%;
}

mat-card, div{
  height: 100%;
}

p{
  height: 25%;
}

mat-card-title{
  height: 20%;
  padding: 70px 0;
  align-items: center;
  text-align: center;
}

mat-card-content{
  height: 80%;
}

mat-card, mat-card-content, form{
  padding:5%;
}

.btn-login {
  margin-top: 2%;
}