.mat-stepper-horizontal {
    margin-top: 8px;
}
  
.mat-mdc-form-field {
    margin-top: 16px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
}
