<mat-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>
        <mat-icon>record_voice_over</mat-icon>
      </ng-template>
      <form [formGroup]="audioForm" class="center-content">
        <mat-label>Enregistrer votre audio</mat-label>
        <div fxLayout="row" fxLayoutGap="8px">
          <button mat-mini-fab color="basic" [class.recording]="isRecording" (click)="startRecording()">
            <mat-icon>mic</mat-icon>
          </button>
          <button mat-mini-fab color="basic" (click)="stopRecording()">
            <mat-icon>stop</mat-icon>
          </button>
        </div>
        <div>
          <button mat-raised-button matStepperNext color="primary" [disabled]="!audioForm.get('audio')?.valid">Suivant</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <mat-icon> title</mat-icon>
      </ng-template>
      <form [formGroup]="audioForm" class="center-content">
        <mat-form-field>
          <mat-label>Titre</mat-label>
          <input matInput formControlName="title" placeholder="Titre" required>
          <mat-error *ngIf="audioForm.get('title')?.hasError('required')">
            Veuillez insérer un titre
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-raised-button matStepperNext color="primary" [disabled]="!audioForm.get('title')?.valid">Suivant</button>
        </div>
      </form>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <mat-icon>list</mat-icon>
      </ng-template>
      <form [formGroup]="audioForm" class="center-content">
        <mat-form-field>
          <mat-label>Thème</mat-label>
          <select matNativeControl formControlName="theme">
            <option *ngFor="let theme of themes" value='{{theme.libelle}}'>{{theme.libelle}}</option>
          </select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-raised-button matStepperNext color="primary" [disabled]="!audioForm.get('theme')?.valid">Suivant</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <mat-icon>add_photo_alternate</mat-icon>
      </ng-template>
      <form [formGroup]="audioForm" class="center-content">
        <mat-toolbar>
          <input matInput [readonly]="true" [value]="selectedImageName ? selectedImageName : 'Insérer une image'" />

          <button mat-flat-button color="primary">
            Upload
            <input id="fileInput" type="file" (change)="onImageSelected($event)" accept="image/*" />
          </button>
        </mat-toolbar>

        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-raised-button matStepperNext color="primary">Suivant</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <mat-icon>check</mat-icon>
      </ng-template>
      <div class="center-content">
        <p>Sauvegarder votre Drop.</p>
        <div>
          <button mat-raised-button (click)="submitForm()" [disabled]="!audioForm.valid">Sauvegarder</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
