<!-- Nav bar -->
<mat-grid-list class="nav" cols="2" gutterSize="0px" rowHeight="10vh">
  <mat-grid-tile>
    <div
      style="
        position: absolute;
        left: 20px;
        color: #c76b36;
        font-size: 25px;
        font-weight: bold;
      "
    >
      GeoVoice
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    ><app-nav-bar style="position: absolute; right: 20px"></app-nav-bar
  ></mat-grid-tile>
</mat-grid-list>

<!-- Map + Stepper Drop -->
<div class="container" style="padding: 0">
  <mat-grid-list class="map" cols="1" rowHeight="80vh">
    <mat-grid-tile>
      <app-map></app-map>
    </mat-grid-tile>
    <!-- <app-marker-content></app-marker-content> -->
  </mat-grid-list>

  <app-stepper *ngIf="isStepperVisible"></app-stepper>
</div>


<!-- Listen + Record  -->
<mat-grid-list class="features" cols="2" rowHeight="10vh">
  <mat-grid-tile>
    <button mat-button (click)="toggleStepperComponent()">
      <mat-icon style="margin-top: 5px; padding: 0; scale: 2; color: #c76b36"
        >headset</mat-icon
      >
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button (click)="toggleStepperComponent()">
      <mat-icon style="margin: 0; padding: 0; scale: 2; color: #c76b36"
        >mic</mat-icon
      >
    </button>
  </mat-grid-tile>
</mat-grid-list>
