.nav mat-grid-tile {
  background-color: rgb(53, 46, 46);
}
.map mat-grid-tile {
  /* background: rgb(73, 116, 99); */
}
.features mat-grid-tile {
  background: rgb(53, 46, 46);
}

.container {
  position: relative;
}

.map {
  z-index: 1;
}

app-stepper {
  position: absolute;
  left: 0;
  top: 65%;
  z-index: 2;
  width: 100%;
}
