<!-- Map + Stepper Drop -->
<div class="container" >
  <mat-grid-list class="map" cols="1">
    <mat-grid-tile>
      <app-map></app-map>
    </mat-grid-tile>
  </mat-grid-list>
  <app-stepper *ngIf="isStepperVisible"></app-stepper>
</div>

<!-- record -->
    <button class="btn"
      mat-mini-fab
      [ngStyle]="{ transform: 'scale()' }"
      color="basic"
      (click)="toggleStepperComponent()"
      [disabled]="!isLogged"
    >
      <img src="/assets/icons/icon-micro.png"/>
    </button>
 
