<!-- Nav bar -->
<mat-grid-list class="nav" cols="1" rowHeight="10vh">
  <mat-grid-tile
    ><app-nav-bar style="position: absolute; right: 20px"></app-nav-bar
  ></mat-grid-tile>
</mat-grid-list>

<!-- Map -->
<mat-grid-list class="map" cols="1" rowHeight="80vh">
  <mat-grid-tile><app-map></app-map> </mat-grid-tile>
  <!-- <app-marker-content></app-marker-content> -->
</mat-grid-list>

<!-- Listen + Record  -->
<mat-grid-list class="features" cols="1" rowHeight="10vh">
  <mat-grid-tile>Listen + Record</mat-grid-tile>
</mat-grid-list>
