<div>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon style="scale: 3">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/my-account']" [class.element-grayed]="!isLogged()">Mon compte</button>
    <button mat-menu-item  [class.element-grayed]="!isLogged()">Mes enregistrements</button>
    <button *ngIf="isLogged()" mat-menu-item>Logout</button>
    <button *ngIf="!isLogged()" mat-menu-item [routerLink]="['login']">Login</button>
  </mat-menu>
</div>
