<div style="display: flex; justify-content: space-around">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon style="scale: 2.5; color: #ffffff">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/my-account']" [disabled]="!authService.isLogged()">
      <mat-icon>account_circle</mat-icon>
      Mon compte
    </button>
    <button mat-menu-item [routerLink]="['/records']" [disabled]="!authService.isLogged()">
      <mat-icon>save</mat-icon>
      Mes enregistrements
    </button>
    <button *ngIf="authService.isLogged()" mat-menu-item [routerLink]="['/home']">
      <mat-icon>place</mat-icon>
        Map
    </button>
    <button *ngIf="!authService.isLogged()" mat-menu-item [routerLink]="['/']">
      <mat-icon>place</mat-icon>
        Map
    </button>
    <button *ngIf="authService.isLogged()" mat-menu-item (click)="handleLogout()">
      <mat-icon>logout</mat-icon>
        Se déconnecter
    </button>
    <button *ngIf="!authService.isLogged()" mat-menu-item [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
        Se connecter
    </button>
  </mat-menu>
</div>
