<mat-card class="example-card">
  <img mat-card-image [src]="dropData.image_url" alt="{{ dropData.title }}" />
  <mat-card-header>
    <mat-card-title> Titre : {{ dropData.title }}</mat-card-title>
    <mat-card-title> Thème : {{ dropData.ref_theme }} </mat-card-title>
  </mat-card-header>
  <mat-card-actions
    style="
      align-content: center;
      text-align: center;
      display: block;
      margin-top: 20px;
    "
  >
    <app-lecteur-audio [audioUrl]="dropData.audio_url"></app-lecteur-audio>
  </mat-card-actions>
</mat-card>
