.example-card img-container {
  /* max-height: 100px; */
  width: auto; /* Ensure the container takes the full width of the card */
  display: flex;
  align-items: center; /* Center the image horizontally within the container */
  justify-content: center; /* Center the image vertically within the container */
}

.example-card img {
  max-height: 300px; /* Set maximum height for the image relative to its container */
  /* width: auto; Maintain aspect ratio */
}

/* Additional styling for other elements within the card */
mat-card-title,
mat-card-subtitle {
  /* text-align: center; */
  width: 250px;
}

mat-card-actions {
  text-align: center;
}
