<mat-card class="example-card">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title> Title : Footing à Paris</mat-card-title>
    <mat-card-title> Théme : Sport </mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-actions
    style="
      align-content: center;
      text-align: center;
      display: block;
      margin-top: 20px;
    "
  >
    <app-lecteur-audio></app-lecteur-audio>
  </mat-card-actions>
</mat-card>
